
.info-block
	padding: .5em
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	font-size: 4em
	opacity: .3
	span
	span
		font-size: .4em
		color: currentColor
		&:empty
			display: none

.info-string
	display: inline-flex
	align-items: center
	&[class="info-string"]
		opacity: .45
	span
		padding-left: .3em
		color: currentColor
		&:empty
			display: none
