@import '../../css-ui-settings.styl';

.Congestion
	display: grid
	grid-template-rows: auto 1fr
	grid-template-columns: 1fr
	place-self: stretch
	blockquote
		margin: 0px
		padding: 0px
		display: grid
		grid-template-rows: 1fr auto
		grid-template-columns: 1fr auto
		align-items: center
		dfn
			grid-area: 2/1/3/3
			display: grid
			grid-template-rows: 1fr auto
			grid-template-columns: 1fr
			grid-gap: 12px
			.search-text
				display: flex
			section
				padding-bottom: 12px
				& > span
					background-color: color.info
					color: white
					height: 18px
					border-radius: 18px
					padding-left: 12px
					del
						width: 24px
						&:hover, &:active
							color: white

			label
				flex-grow: 1
				height: 32px
				& + button
					margin-left: 12px
					display: none
					width: 178px
					&.info
						display: inline-flex
	ul
		justify-self: center
		list-style: none
		margin: 0px
		padding: 0px
		display: grid
		grid-template-rows: repeat( 4, 172px )
		grid-template-columns: repeat( 5, 266px )
		grid-gap: 12px

.Pittance
	display: grid
	grid-template-rows: 1fr
	grid-template-columns: 1fr auto
	grid-gap: 24px
	fieldset > em
		height: 32px
		display: flex
		align-items: center
		justify-content: space-between
		span
			display: flex
			align-items: center
		kbd
			font-size: 18px
			margin-right: 12px
		label
			border-color: transparent
	fieldset > form
		display: grid
		grid-template-columns: 1fr
		grid-template-rows: 32px 32px
		grid-auto-rows: auto
		grid-gap: 12px
		figure
			margin: 0px
			padding: 0px
			display: grid
			grid-template-columns: 1fr
			grid-template-rows: 1fr
			place-items: stretch
			place-content: stretch
			box-sizing: border-box
			img
				width: 100%
			label
				border: 0px solid transparent
				grid-area: 1/1/2/2
		address
			display: grid
			grid-template-columns: 1fr 18px
			grid-template-rows: 32px 32px 32px
			grid-auto-rows: auto
			grid-gap: 12px
			kbd
				font-size: 21px
			& > label:first-child
				grid-area: 1/1/2/3
	fieldset + fieldset > form
		width: 342px
		grid-template-rows: auto

