@import '../../css-ui-settings.styl';

header
	display: grid
	grid-template-rows: 1fr
	grid-template-columns: auto 1fr auto
	padding: 0px 24px
	align-items: center
	& > a
		align-self: stretch
		display: flex
		align-items: center
		font-size: 18px
		color: color-calm.extra
		text-decoration: none
		background: url( ../../images/Qwars.svg ) left center no-repeat
		background-size: 30%
		img
			width: 24px
			height: 24px
			margin: 0px 10px 0px 10px
			transform: translateY(-2px)